/* Общие стили для всего приложения */
* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* background-image: url("/background.jpg");  */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Сферы - общие стили */
.sphere1,
.sphere2 {
  position: fixed;
  z-index: 0;
  pointer-events: none;
}

.sphere1 {
  width: 254.72px;
  height: 254.72px;
  background: url("/sphere3.svg") no-repeat center center;
  left: 243px;
  top: -90px;
  animation: float 8s ease-in-out infinite;
}

.sphere2 {
  width: 137.39px;
  height: 137.39px;
  background: url("/sphere1.svg") no-repeat center center;
  right: 243px;
  top: 66px;
  animation: float 6s ease-in-out infinite reverse;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
}
